*{
    border: border-box;
    margin: 0px;
}
.biggest{
    background-image: url(img.jpg);
    background-size: cover;width: 100vw;height:100vh;
}

.big-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    
    height: 85vh;
}
.container,.big-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container{
    width: 85%;
    justify-content: space-around;
}
.key{
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    color: gold;
    transition: 0.7s;
    border-radius: 10%;
}
kbd{
    font-size: 30px;
    color: white;
    background: none;
    outline: none;
    border:none
}